/* Début All */
* {
	box-sizing: border-box;
}

html, body, ul {
	padding: 0; 
	margin: 0;
	font-family: Verdana, sans-serif;
	width:100%;
}
/* Fin All */

/* Header*/
header {
    margin: center;
    text-align:center;
	height: 400px;
    margin-top: 0;
    background-color: #e6e6e6;
 }
/* Fin Header */

/* Navigation */
nav {
	text-align: left;
	background-color:   #e6e6e6;
}

.nav.fixed{
  position:fixed;
  top:0;
  z-index:1000;
}

nav ul,
nav li {
	display: inline;
	list-style: none;
}
nav a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	vertical-align: middle;
	font-weight: 300; 
	letter-spacing: 0.025em;
	color: inherit;
	text-decoration: none;
}

nav a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: #B13C2E;


	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}

nav a:hover:after,
nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}

nav a:focus {
	outline: none;
} 
nav {
	position: sticky;
	top: 0;
}
/* Fin Navigation */

/* Article */
article {
    background-color: white;
    text-align: justify;
    padding: 2em 0em 3em; 
}

article h1 {
    font-size: 1.8em;
    font-style: bold;
    margin: 0 0.4em 0;
    color: #0091ea;
}

article h2 {
    font-size: 1.4em;
    font-style: bold;
    margin: 1.5em 0.6em 0;
    color: #00b0ff;
}

article h3 {
    font-size: 1.0em;
    font-style: bold;
    margin: 1.5em 0.8em 0;
    color: #40c4ff;
}

article  p{
    margin: 1.5em 0.8em 0;
}

article  li{
    margin: 0em 3em 0;
}

#red {
	color: red;
    font-weight:bold;
}

#gris {
	color: gray;
}

#center {
	text-align: center;
}
/* Fin Article */

/* Boutton */
.btn {
  padding: 10px 25px;
  border: 2px solid #FFF;
  border-image: linear-gradient(to right, #1DB0DC, #23D0D3) 20 stretch;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(to right, #1DB0DC, #23D0D3);
  cursor: pointer;
  transition: all .3s;
    filter: hue-rotate(0deg) saturate(1);
}
.btn:hover,
.btn:focus {
  filter: hue-rotate(10deg) saturate(1.2);
}

.btn-rond {
  position: relative;
  border-radius: 7px;
  border-image: none;
}

.btn-rond::before,
.btn-rond::after {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 6px;
}

.btn-rond::before {
  right: -2px;
  top: -2px;
  left: -2px;
  bottom: -2px;
  background: linear-gradient(to right, #1DB0DC, #23D0D3);
}
/* Fin Boutton */

/* Début Tableau */
.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: 0 1.5em;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
/* Fin Tableau */

/* Début Footer */
footer {
    background-color: #e6e6e6;
    text-align: right;
    height: 110px;
    position: float;
    bottom: 0px
}
footer  a {
	position: relative;
	display: inline-block;
	padding: 8px 5px;
	vertical-align: middle;
	font-weight: 300; 
	letter-spacing: 0.025em;
	color: inherit;
	text-decoration: none;
    text-align: left;
}
footer li a {
    text-align:left;
    }

footer  a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: #B13C2E;


	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}

footer  a:hover:after,
footer  a:focus:after {
	opacity: .6;
	transform: translateY(0);
}

footer  a:focus {
	outline: none;
	
} 

footer  li {
	display: inline;
	list-style: right;
	
}
/* Fin Footer */